body {
	margin:0px;
	overflow:hidden;
	font-family: verdana !important;
	font-size:14px;
}

.divTitle {
	padding-bottom:10px;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

#uw {
	position:absolute;
	bottom:0;
	right:0;
	margin-top:10px;
	font-size: 11px;
}



#ihme {
	position:absolute;
	bottom:0;
	left:0;
	margin-top:10px;
	font-size: 11px;
}


text {
	cursor:default;
}

#container {
	-webkit-user-select:none;

}

#share text {
	cursor:auto;
}

#header {
	width:100%;
	background:#c3f08e;
	height:35px;
}

#top-menu {
	width:100%;
	height:60px;
}

#title {
	position:absolute;
	left:0;
	right:0;
	width:100%;
	text-align:center;
	line-height:35px;
	font-size:18px;
	pointer-events:none;
}

.headertext {
	line-height:60px;
	font-size:18px;
	position: absolute;
	left:0;
	right:0;
	width: 100%;
	text-align:center;
	pointer-events:none;
}

#icons {
	float:left;
	z-index:9999;
}

#footer {
	margin-bottom:10px;
}

#bottom {
	position:fixed;
	width:100%;
	bottom:0px;
	border-top:solid #d3d3d3 1px;
	text-align:center;
	background:black;
}

#bottom .control-container {
	width: auto;
	display: inline-block;

}


.icon {
	cursor:pointer;
	padding-top:2.4px;
}

#global {
	margin-left:2px;
}

#countries,#data {
	margin-left:-18px;
}


#misc {
	height:65px;
	width:70px;
	cursor:pointer;
}

.right {
	float:right;
}