body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  background-color:black;
  color:white;
}

#main-title {
	font-family:verdana;
	font-weight:bold;
	font-size:33px;
}

#header-text {
	display:inline;
	font:33px sans-serif;
}

#header-twitter {
	float:right;
	margin-right:20px;
}

#bottom-left {
	float:left;
}

#bottom-right {
	float:right;
	margin-right:10px;
}

#bottom {
	padding:5px;
}

.axis path, .axis line {
  fill: none;
  stroke:white;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 15px;
/*   stroke:white; */
  fill:white;
  font-weight:100;
  font-family:helvetica;
}



#header-title {
	text-align:center;
}



#main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	height:750px;
}

#main-controls {
	position:absolute;
	text-align:center;
	width:100%;
	font-size:30px;
}

.icon-left-open, .icon-right-open, .icon-play, .icon-pause, .icon-ccw {
	cursor:pointer;
}

#main-images {
	position:absolute;
	width: 100%;
	text-align: center;
}

#map-svg {
	float:left;
}

#map {
	position:absolute;
	float:left;
	top:200px;
}

#map-divtitle {
}
.icon-img:hover {
	opacity:1 !important;
	border:2px solid !important;
	border-color:white;
}

#twitter {
	display:inline-block;
	float:right;
	padding-right:15px;
}

#data {
	display:inline-block;
	float:left;
	padding-left:20px;
	font-size:11px;
}

#conclusion {
position: absolute;
top: 30%;
width: 100%;
}